body{
    background-color: darkslategray;
}

*{
    color: white;
}

button{
    background-color: teal;
    border: none;
    border-radius: 2px;
}

table, td, th, tr{
    border: 1px solid black;
    padding: 6px;
}

#avatar{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2.5vw;
}

#avatar:hover{
    box-shadow: 0 0 13px yellowgreen;
    transition: 0.5s;
}

div{
    margin-top: 2vw;
    font-size: 30px;
}